// Color  Format
$primary-color: #3366ff;
$secondary-color: #9a9a9a;

// Text  Format
$primary-text-color: #3366ff;
$secondary-tyext-color: #9a9a9a;

$primary-background-color: #3366ff;
$secondary-background-color: #9a9a9a;
