table {
  width: 50%;
}
.mat-header-cell {
  background-color: #5633d4;
  color: white;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  margin-right:1000px ;
flex-direction: column;

}
.example-card{
   background-position: right;
}
